extends layout

block content
	section.hero.is-success.is-fullheight
		.hero-head
			header.navbar
				.container
					.navbar-brand
						| Hackathon #ChallengeData
					.navbar-end
						| Sciences Po Saint-Germain-en-Laye

		.hero-body
			.container.has-text-centered
				h1.title
					| #{count}
				h2.subtitle
					| #{__('hero.body.subtitle.firstLine')}
					br
					| #{__('hero.body.subtitle.secondLine')}

				div
					a.navbar-item(href='/files/editorial.pdf', target="_blank")
						| #{__('hero.body.links.editorial')}
					a.navbar-item(href='/files/strategie_croissance_dormants.pdf', target="_blank")
						| #{__('hero.body.links.how.these.accounts.get.subscribers')}
					a.navbar-item(href='/files/documentation_methode_outils.pdf', target="_blank")
						| #{__('hero.body.links.how.to.find.other.accounts')}
				div
					a.navbar-item(href='https://github.com/ambanum/DormantTwitterAccountsDetector', target="_blank")
						| #{__('hero.body.links.source.code')}
					a.navbar-item(href='https://disinfo.quaidorsay.fr/encyclopedia/qualification/tools#reliability-assessment', target="_blank")
						| #{__('hero.body.links.botometer_assessment')}

		.hero-foot
			.container
				.level
					.level-left
					.level-right
						| #{__('hero.footer.languages')}&nbsp;&nbsp;
						if lang === 'en'
							a.level-item(href='/fr')
								| Français
							span.level-item
								| English
						if lang === 'fr'
							span.level-item
								| Français
							a.level-item(href='/en')
								| English
	.section.graph-title
		.container.has-text-centered
			h1.title
				| #{__('graphs.title')}
			h2.subtitle
				| #{__('graphs.subtitle')})
	div.graphs
		div#followers
		div#followings
		div#tweets
